# first, refresh all variables in the storage

In [1]:
%store -r

# next, print the variable

In [2]:
df

   time  neuron1  neuron2
0     1        1        2
1     2        4        4
2     3        1        5
3     4        7        1
4     5        2        7
5     6       10        7
6     7        1        2
7     8        2       12
8     9        2        3
9    10        5        7